<div class="navigation">
  <h1>Welcome to My IntroToRails App</h1>
  <ul>
    <li><%= link_to "create category", new_category_path %></li>
     <li><%= link_to 'contact info', contact_path %></li>
     <li><%= link_to 'about', about_path %></li>
  </ul>
</div>



